/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
  background: hsl(233, 47%, 7%);
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  /* margin: auto;
   */
  margin: 0;
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: flex-end;
  background: hsl(244, 38%, 16%);
}

.card-column-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.card-column-right {
  width: 50%;
  background-color: hsl(277, 64%, 61%);
}
.card h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
}

.card-main-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
}

.card-stats {
  color: hsl(0, 0%, 100%);
  display: flex;

  align-self: flex-start;
  margin-top: 1rem;
}

.card-stats p {
  padding-right: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.number {
  display: block;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.stat-title {
  text-transform: lowercase;
}

.card-img {
  position: relative;
}

.card-img::after {
  background: hsl(277, 64%, 61%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  opacity: 0.9;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.attribution {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

/* Mobile vertical */
@media screen and (max-width: 600px) {
  .card {
    margin: 0 1rem;
  }

  .card-stats {
    flex-direction: column;
    text-align: left;
    align-self: left;
  }
}

/* Mobile horizontal */
@media screen and (max-width: 480px) {
  .card {
    flex-direction: column-reverse;
    margin: 5rem 1rem;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-column {
    width: auto;
    /* border-radius: 10px; */
  }

  .card h1 {
    text-align: center;
  }

  .card-main-text {
    text-align: center;
  }

  .card-stats {
    flex-direction: column;
    text-align: center;
    align-self: center;
  }

  .card-stats p {
    line-height: 1.5;
  }

  /* .card-img,
  .card-img img {
    border-radius: 10px;
  } */
}
