/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
  background: hsl(233, 47%, 7%);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  /* margin: auto;
   */
  margin: 0;
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: flex-end;
  background: hsl(244, 38%, 16%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .card-column {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
} */

.card-column-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.card-column-right {
  width: 50%;
  background-color: hsl(277, 64%, 61%);
}
.card h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
}

.card-main-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

.card-stats {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 1rem;
}

.card-stats th {
  text-align: left;
}

.card-stats td {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.card-img {
  position: relative;
}

.card-img::before {
  background: hsl(277, 64%, 61%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: soft-light;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attribution {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
