/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
  background: hsl(233, 47%, 7%);
  scroll-behavior: smooth;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  display: flex;
  background: hsl(244, 38%, 16%);
}

.card h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card-main-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.card-stats {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card-stats td {
  color: hsla(0, 0%, 100%, 0.75);
  /* font-family: "Lexend Deca", sans-serif; */
  font-weight: 400;
  text-transform: uppercase;
}

.card-column-right {
  background-color: hsl(277, 64%, 61%);
}

.card-img {
  opacity: 0.5;
}

.attribution {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
